<h1>Flights</h1>

<%= form_with url: flights_path, method: "get" do |form| %>
  <%= form.select :departure_airport_id, Airport.all.map { |airport| [airport.code, airport.id] }, { include_blank: "Select a departure airport" } %>
  <%= form.select :arrival_airport_id, Airport.all.map { |airport| [airport.code, airport.id] }, { include_blank: "Select an arrival airport" } %>
  <%= form.date_select :start_datetime, discard_day: true, start_year: Date.today.year, end_year: Date.today.year + 1 %>
  <%= form.submit "Search" %>
<% end %>

<% if @flights.any? %>
  <h2>Search Results</h2>
  <%= form_with url: new_booking_path, method: "get" do |form| %>
    <% @flights.each do |flight| %>
      <p>
        <%= form.radio_button :flight_id, flight.id %>
        <%= form.label :flight_id, "Flight ID: #{flight.id}, Start Datetime: #{flight.start_datetime}, Flight Duration: #{flight.flight_duration}, Passenger Count: #{flight.passenger_count}, Departure Airport Code: #{flight.departure_airport_code}, Arrival Airport Code: #{flight.arrival_airport_code}" %>
      </p>
    <% end %>
    <%= form.hidden_field :passenger_count, value: session[:passenger_count] %>
    <%= form.submit "Select Flight" %>
  <% end %>
<% else %>
  <p>Select one of our filters.</p>
<% end %>
