<h1>Booking Details</h1>

<p>Flight ID: <%= @flight.id %></p>
<p>Start Datetime: <%= @flight.start_datetime %></p>
<p>Flight Duration: <%= @flight.flight_duration %>h</p>
<p>Departure Airport Code: <%= @flight.departure_airport.code %></p>
<p>Arrival Airport Code: <%= @flight.arrival_airport.code %></p>

<%= form_with model: @booking, url: bookings_path, local: true do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id %>

  <p>Passenger Name:
    <%= form.select :passenger_id, options_for_select(Passenger.pluck(:name, :id), @booking.passenger_id), { include_blank: 'Name' } %>
  </p>

  <p>Passenger Email:
    <%= form.select :passenger_id, options_for_select(Passenger.pluck(:email, :id), @booking.passenger_id), { include_blank: 'Email' } %>
  </p>

  <%= form.submit "Confirm Booking" %>
<% end %>

